[submodule "src/client/esoja-api"]
	path = src/client/esoja-api
	url = https://github.com/barbaraport/esoja-api
[submodule "src/server/esoja-api"]
	path = src/server/esoja-api
	url = https://github.com/barbaraport/esoja-api
